

@media (max-width: 1600px) {
  

  header {
    padding: 35px 100px 0px;
  }
}



  @media (max-width: 1000px) {
    header {
        padding: 35px 75px 0px;
    }
  }

  @media (max-width: 750px) {
    header {
        padding: 35px 40px 0px;
    }
    
  }

  